<footer class="main-footer">
  <div class="footer-container">
    <div>
      <h4>Location</h4>
      <p>630 - 4th Ave SW<br/>Radium Hot Springs, BC</p>
      <a href="reserve.html" class="footer-button">Reserve</a>
    </div>
    <div>
      <h4>Hours</h4>
      <p>Friday — Saturday<br/>6:30am — 12am</p>
      <p>Sunday — Thursday<br/>6:30am — 10pm</p>
    </div>
    <div>
      <h4>Contact</h4>
      <p>Phone: 111-111-1111</p>
      <a href="mailto:contact@goatst.com">E-Mail Us</a><br/>
      <a href="instagram">@goatst</a>
    </div>
  </div>
</footer>
